/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./images/bg5.jpg');
    background-size: cover;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 32px;
    color: #cfb9a9;
    margin: 20px auto;
    text-align: center;
}

.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto; /* Enable vertical scrolling if needed */
    max-height: calc(100vh - 100px); /* Adjust to account for other content */
}

.event {
    width: calc(50% - 40px); /* 2 events per row with spacing */
    margin: 20px;
    text-align: center;
}

.event a {
    text-decoration: none;
    color: inherit;
}

.event img {
    width: 80%; /* Adjust image width as needed */
    height: auto;
    transition: transform 0.3s; /* Apply smooth transition */
    border: 2px solid #f0eaea;
    border-radius: 25px;
    padding: auto;
}

.event img:hover {
    transform: scale(1.1); /* Zoom in slightly on hover */
}

.event h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #f8f4f4;
}
